<form class="tag-form row" name="tagform">
  <span class="tag_id id">{{$ctrl.item.id}}</span>
  <span class="invalid">{{$ctrl.item.errors.full_messages}}</span>

  <div class="tag-name row col-lg-12">
    <label class="col-xs-3">Name:</label>
    <input class="col-xs-9"
           name="tag-name"
           data-ng-model="$ctrl.item.name"
           ng-readonly="!$ctrl.authz.canUpdate"
           required="required"
           maxlength="40"
           pattern=".{3,}" title="3 character minimum for Name"/>
    <span class="invalid">{{$ctrl.item.errors.name}}</span>
  </div>

  <div class="tag-controls"
       ng-show="$ctrl.authz.authenticated">
    <button ng-show="!$ctrl.item.id && $ctrl.authz.canCreate"
            name="tag-create"
            ng-disabled="tagform.$invalid"
            type="submit"
            ng-click="$ctrl.create()">Create Tag</button>

    <div ng-show="$ctrl.item.id">
      <span class="tag-modify"
            data-ng-hide="!$ctrl.authz.canUpdate">
        <button name="tag-update"
                type="submit"
                ng-disabled="tagform.$invalid || !tagform.$dirty"
                data-ng-hide="$ctrl.haveDirtyLinks() &&
                  (!tagform['tag-name'].$dirty)"
                ng-click="$ctrl.update()">Update Tag</button>
      </span>

      <button name="tag-delete"
              type="submit"
              ng-show="$ctrl.authz.canDelete"
              ng-click="$ctrl.remove()">Delete Tag</button>
    </div>
  </div>
</form>
